<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kent's Pizzeria</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-cheese">
  <div class="container-fluid content">
    <header class="row">
      {% include "header-nav.njk" %}
    </header>
    <main class="row">
      <div class="container">
        <div class="row">
          <div class="feature col-md-4 bg-cheese"><img src="http://placekitten.com/200/200" alt="featured pizza"></div>
          <div class="feature col-md-4 bg-bread"><img src="http://placekitten.com/200/200" alt="featured pizza"></div>
          <div class="feature col-md-4 bg-cheese"><img src="http://placekitten.com/200/200" alt="featured pizza"></div>
        </div>
        <div class="row">
          <form class="container order">
            <div class="dropdowns row">
              <div class="col-md-4">Size</div>
              <div class="col-md-4">Sauce</div>
              <div class="col-md-4">Crust</div>
            </div>
            <div class="toppings row">
              <div class="topping col-md-2">topping 1</div>
              <div class="topping col-md-2">topping 2</div>
              <div class="topping col-md-2">topping 3</div>
              <div class="topping col-md-2">topping 4</div>
              <div class="topping col-md-2">topping 5</div>
              <div class="topping col-md-2">topping 6</div>
            </div>
          </form>
        </div>
      </div>
    </main>
    <footer class="row bg-sauce text-light">
      <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">Twitter</li>
          <li class="nav-item">Facebook</li>
          <li></li>
        </ul>
      </nav>
      <small>&copy;Kent's Pizzeria</small>
    </footer>
  </div>
  <script src="js/app.js" type="module"></script>
</body>
</html>