<section class="col-12" id="cartSection">
  <div>
    <p id="cartMessage"></p>
  </div>
  <form>
    <div class="form-group">
      <h2>Your order so far...</h2>
      <ul id="orderCart"></ul>
    </div>
    <div class="form-group">
      <select name="location" id="location">
        <option value="north">North Arlington</option>
        <option value="south">South Arlington</option>
        <option value="east">East Arlington</option>
        <option value="West">West Arlington</option>
      </select>
    </div>
    <button class="btn btn-primary" type="button" id="placeOrderButton">Place Order</button>
  </form>
</section>